/* --- Layout Styles --- */
body, html { 
    font-family: Arial, Helvetica, sans-serif; 
    height: 100%;
    margin: 0;
    overflow: hidden;
}

nav { 
    color: #666;
    display: flex;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    margin: 16px 0 0 0;
    width: 100%; 
    
}

.wrapper {
    margin-bottom: -92px;
    min-height: 100%;
}

.footer, .push {
    height: 40px;
}

.footer {
    background-color: #f8f8f8;
    border-top: 1px solid #f1f1f1;
}
/* --- End --- */

/* --- Nav Styles --- */

.l_nav, .footer--l_nav {
    padding-left: 17px;
}

.r_nav, .footer--r_nav {
    padding-right: 17px;
}

.l_nav div, .footer--l_nav div { 
    cursor: pointer;
    display: inline-flex;
    margin: 7px 7px;
    vertical-align: middle;
}
.r_nav div, .footer--r_nav div{
    cursor: pointer;
    display: inline-flex;
    margin: 0 7px;
    vertical-align: middle;
}

    .l_nav div:hover, .r_nav div:hover {
        text-decoration: underline;
    }

.google-apps {
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 520px 68px;
    background-position: -132px -38px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    width: 30px;
}

.signUp--button {
    background: -moz-linear-gradient(top, dodgerblue, #4683ea);
    border: 1px solid dodgerblue;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    outline: none;
    padding: 0 12px;
}
    .signUp--button:hover{
        text-decoration: none !important;
    }
/* --- End --- */

/* --- Google Features --- */

.google--title, .google--input, .google--button {
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
}
    .google--title img {
        padding-top: 152px;
       
    }

.google--input input{
    box-shadow: 0 0.5px .5px darkgray;
    border: 1px solid lightgray;
    border-radius: 2px;
    height: 42px;
    margin: 25px 5px;
    width: 580px;

}

button{
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 2px;
    color: gray;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 4px;
    min-width: 54px;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.footer--l_nav div, .footer--r_nav div{
    margin: 0px 12px 0 12px;
    font-size: 13px; 
}